
gunicorn
psycopg2
Flask
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-Moment==1.0.5
Flask-Script==2.0.6
flask-sqlalchemy==3.0.5
Flask-WTF==1.1.1
langdetect

jwt==1.3.1
email_validator
Mail==2.1.0


PyJWT==2.8.0
PyMySQL==1.1.0

python-dotenv

requests
